.navbar {
  background-color: #222222;
  border-top: 8px solid #f71e37;
  height: 12vh;
  color: #fff;
}
.navbar li {
  list-style: none;
}
.navbar ul {
  margin: 0;
}
.navbar li a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
.navbar li:hover,
.active {
  border-bottom: 3px #f71e37 solid;
}
.search {
  border-radius: 20px;
  padding: 5px 20px;
}
